/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
}


/*
 * Header
 */
.masthead {
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  # background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-color: rgb(13,71,161, 0.0);
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  width: 100%;
  min-height: 40vh;
  padding: 10rem 4rem;
  font-family: Arial, "Microsoft YaHei", "微软雅黑";
  line-height: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #424242;
  background-color: #f5f8fa;
}
.cover p {
  color: rgba(0, 0, 0, 0.5);
}
.cover a {
  text-decoration: underline;
}
.cover_text_content {
  max-width: 50rem;
  text-align: left;
}

.cover-heading {
  margin-bottom: 1em;
}

/*
 * section shared formatting
 */

section {
  color: #424242;
  text-shadow: none;
  font-family: Arial, "Microsoft YaHei", "微软雅黑";
  line-height: 2;
}
section {
  text-align: justify;
}
section h2 {
  margin: 1rem 0;
}
.section_content {
  max-width: 54rem;
  margin: auto;
  padding: 1rem 2rem;
}
.with-border {
  border-bottom: #EBF2F6 1px solid;
}

/*
 * About me
 */
#about_me {
  margin-top: 1rem;
}
#about_me h2 {
  display: inline-block;
  vertical-align: middle;
}
#about_me .profile-pic {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  margin-left: 1rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#zoo-map {
  position: relative;
}
/*
 * Project
 */
#project ul {
  list-style-type: none;
}
#project li {
  margin: 1rem;
}
#project .card {
  width: 20rem;
  height: 20rem;
  text-align: center;
  box-shadow: 1px 1px 1px #888888;
}
#project .card img {
  width: auto; /* you can use % */
  height: 6rem;
  margin: auto;
  margin: auto;
}
#project a {
  color: #424242;
}

/*
 * Social media
 */
#social_media {
  text-align: right;
}
#social_media ul{
  list-style-type: none;
}
.social_media_list li {
  display: inline;
}
.social_media_list p {
  height: 48px;
  width: 48px;
  font-weight: bold;
  color: #828282;
  display: inline-block;
  margin: 15px;
  text-align: center;
  vertical-align: text-top;
}
.svg_icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  fill: #828282;
  margin: 15px;
  vertical-align: text-top;
}
.btn-send {
  color: #fafafa;
  border: .1rem solid #B0BEC5;
  background-color: #B0BEC5;
}
.btn-send:hover {
  border: .1rem solid #90A4AE;
}
.btn-send:active {
  background-color: #90A4AE;
}

/*
 * Footer
 */
.mastfoot {
  background-color: #333;
  color: rgba(255, 255, 255, .5);
}
.mastfoot a {
  color: #fafafa;
}
